@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.box {
  &__inner {
    @include flex-all-sb;

    gap: 20px;
  }

  &__content {
    max-width: 660px;
    width: 100%;
    padding-inline: clamp(10px, 3.5vw, 48px);

    & > *:not(:last-child) {
      margin-bottom: clamp(20px, 4.5vw, 64px);
    }
  }

  &__text {
    &:not(:last-of-type) {
      margin-bottom: clamp(20px, 4.5vw, 64px);
    }

    p {
      line-height: 1.4;
    }
  }

  &__image {
    max-width: 597px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-main);
  }

  &--home {
    .box__content {
      padding-bottom: 10px;

      & > *:not(:last-child) {
        margin-bottom: clamp(20px, 3vw, 32px);
      }
    }

    .box__text:not(:last-of-type) {
      margin-bottom: clamp(20px, 4vw, 50px);
    }
  }

  &--reverse {
    .box__inner {
      flex-direction: row-reverse;
    }

    .box__content {
      padding-inline: 0;
    }
  }

  &--background {
    .box__texts {
      width: 95%;
    }
  }

  &--journey {
    .box__content {
      padding-inline: clamp(10px, 3.5vw, 48px) 0;
    }
  }

  &--ethic {
    .box__content {
      padding-right: clamp(0px, 3vw, 34px);
    }
  }

  @include media(tablet) {
    &__image {
      height: auto;
    }
  }

  @include media(mobile-l) {
    &__inner {
      flex-direction: column;
      gap: 24px;
    }

    &__content,
    &__image {
      max-width: 100%;
    }

    &__content {
      padding-inline: 0;
      padding-bottom: 0;
    }

    &__img {
      width: 100%;
      height: auto;
      aspect-ratio: 5 / 4;
      object-position: top;
    }

    &--home {
      .box__inner {
        flex-direction: column;
      }
    }

    &--reverse {
      .box__inner {
        flex-direction: column;
      }
    }

    &--background,
    &--journey,
    &--ethic {
      padding-top: 0;
    }

    &--journey {
      .box__content {
        padding-inline: 0;
      }
    }
  }

  @include media(mobile-m) {
    &--home {
      padding-top: 0;
    }
  }
}

.page--about .box--home {
  .link {
    display: none;
  }
}