@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

*[class].btn {
  display: block;
  width: fit-content;
  margin: 0;
  padding: 12px 15px;
  border: 1px solid var(--color-dark);
  font-family: var(--font-family-primary);
  font-weight: var(--fw-400);
  font-size: clamp(16px, 3vw, 20px);
  line-height: 1.22;
  color: var(--color-dark) !important;
  text-align: center;
  border-radius: var(--radius-main);
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
  transition-property: background-color, color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &--reverse,
  &:hover {
    color: var(--color-white) !important;
    background-color: var(--color-red-400);
    border-color: var(--color-red-400);
  }

  &--reverse {
    &:hover {
      background-color: transparent;
      color: var(--color-dark) !important;
      border-color: var(--color-dark);
    }
  }

  &--large {
    font-size: clamp(20px, 3vw, 24px);
  }
}

*[class].swiper {
  .swiper-button {
    @include cover-background;

    width: 50px;
    height: 50px;
    background-image: url("../images/icons/next-icon.svg");
    border-radius: var(--radius-round);
    top: unset;
    bottom: 110px;

    &::after {
      display: none;
    }

    &--bottomed {
      bottom: 70px;
    }

    &--centered {
      top: 50%;
      bottom: unset;
      filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(340deg) brightness(106%) contrast(101%);
    }
  }

  .swiper-button-prev {
    left: 76px;
    transform: rotate(180deg);
  }

  .swiper-button-next {
    right: 76px;
  }

  .swiper__nav {
    @include flex-all-sb;

    position: absolute;
    bottom: 0;
    right: 336px;
    max-width: 220px;
    width: 100%;

    .swiper-button {
      position: relative;
      top: unset;
      bottom: unset;
      left: unset;
      right: unset;
      margin: 0;
    }

    .swiper-pagination {
      position: static;
      width: fit-content;
      white-space: nowrap;

      span {
        font-weight: var(--fw-400);
      }
    }
  }

  @include media(desktop) {
    .swiper__nav {
      position: static;
      margin-inline: auto;
    }
  }

  @include media(tablet-wide) {
    .swiper-button {
      bottom: 50%;
      transform: translateY(-50%);
    }

    .swiper-button-prev {
      left: 16px;
      transform: rotate(180deg);
    }

    .swiper-button-next {
      right: 16px;
      transform: translateY(0);
    }
  }

  @include media(mobile-l) {
    .swiper-button {
      width: 28px;
      height: 28px;
    }
  }

  @include media(mobile-sm) {
    .swiper-button {
      bottom: 60%;
    }
  }
}